html {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Cairo';
    src: url(fonts/Cairo-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'NotoSansJP';
    src: url(fonts/NotoSansJP-Regular.otf);
}
body {
    font-family: NotoSansJP;
    margin: 0;
    height: inherit;
    display: flex;
    background-size: cover;
}
div.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
/*top*/
div.top{
    display: flex;
    justify-content: flex-start;
    min-width: 600px;
}
div.weatherIcon{
    width: 150px; 
    height: 150px;
}
div.temp{
    margin: 8px;
    display: flex;
    font-size: 42px;
    font-family: Cairo;
    align-items: center;
}
div.weatherDesc{
    margin: 8px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
}
/*bottom*/
div.bottom{
    display:grid;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-rows: repeat(3, auto);
    font-size: 24px;
}

div.bottom div{
    display: flex;
    margin: 8px;
    min-width: 200px;
}

div.searchBar{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    border: 2px solid whitesmoke;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    height: 20px;
    width: calc(200px - 14px);
    padding: 2px 5px;
    box-sizing: content-box;
}

input:focus {
    outline: none !important;
}

div.searchMenu {
    background-color: grey;
    width: 200px;
    height: calc(25px * 3);
    display: flex;
    flex-direction: column;
}

div.searchHidden {
    visibility: hidden;
}

div.searchR {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 25px;
    user-select: none;
}

div.searchR:hover {
    cursor: pointer;
}